/* >> Groups --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- */
%clearFix{
  &:after{
    clear: both; content:' '; display: block; font-size: 0; line-height: 0; visibility: hidden; width: 0; height: 0;
  }
}
%stickyFooter{
  /*Fix szelessegu footer eseten mukodik, ill kell bele a .contentWrapper csak IE-ben szetesik width: 100%-on*/
  display: flex; flex-direction: column;
  .stickyWrapper{
    flex: 1 1 auto; display: flex; flex-flow: column wrap; min-height: 100vh; margin: 0; padding: 0;
    #pageWrapper{
      width: 100%; flex: 1 1 auto;
    }
  }
}
%statText{
    line-height: 1.42857;
    p{
        font-size: rem(16px);
        margin-bottom: 1em;
        &:last-child{margin-bottom: 0;}
    }
    i{font-style: italic;}
    b, strong{font-weight: 700;}
    ul, ol{margin-left: 2em; margin-bottom: 1em;}
    ul{list-style-type: disc; /*list-style-image: url("../images/svg-listImg.svg");*/}
    ol{list-style-type: decimal;}
    ol li,
    ul li{
        margin-bottom: 1em;
        &:last-child{margin-bottom: 0;}
    }
    h2{
        width: 100%;
        max-width: none;
        margin-bottom: 1em;
        font-size: rem(20px);
    }
    .statTable{
        width: 100%;
        overflow-x: auto;
        overflow-y: hidden;
        margin-bottom: 1em;
        div{
            width: 906px;
        }
        th{
            font-weight: bold;
        }
        th, td {
            text-align: left;
            color: #191818;
            padding: 24px 30px;
            background-color: #fff;
            border-bottom: 2px solid #f0f0f0;
            font-size: 14px;
        }
    }
}
%flexBox{
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 0;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    width: 100%;
}