/* >> Mixins
--- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- --- */
@mixin flexWidth($width, $max-width: $width){
  width: $width;
  max-width: $max-width;
  flex-basis: $width;
}

@mixin selectDisable{
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select:none;
  -o-user-select:none; 
  user-select:none;
}
@mixin appearencNone{
  appearance:none;
  -moz-appearance:none;
  -webkit-appearance:none;
  border-radius: 0;
}
@mixin bgIcon($name){
  background: url("../images/icon-#{$name}.svg") no-repeat left top; background-size: 18px;
}
@mixin filter($filter-type,$filter-amount) {
  -webkit-filter: $filter-type+unquote('(#{$filter-amount})');
  -moz-filter: $filter-type+unquote('(#{$filter-amount})');
  -ms-filter: $filter-type+unquote('(#{$filter-amount})');
  -o-filter: $filter-type+unquote('(#{$filter-amount})');
  filter: $filter-type+unquote('(#{$filter-amount})');

  // grayscale      ex: filter: grayscale(100%);
  // sepia          ex: filter: sepia(100%);
  // saturate       ex: filter: saturate(0%);
  // hue-rotate     ex: filter: hue-rotate(45deg);
  // invert         ex: filter: invert(100%);
  // brightness     ex: filter: brightness(15%);
  // contrast       ex: filter: contrast(200%);
  // blur           ex: filter: blur(2px);
}

@mixin transform($transform-type,$transform-amount) {
  -webkit-transform: $transform-type+unquote('(#{$transform-amount})');
  -moz-transform: $transform-type+unquote('(#{$transform-amount})');
  -ms-transform: $transform-type+unquote('(#{$transform-amount})');
  -o-transform: $transform-type+unquote('(#{$transform-amount})');
  transform: $transform-type+unquote('(#{$transform-amount})');
}
@mixin noTransform($transform-none: none){
  -webkit-transform: $transform-none;
  -moz-transform: $transform-none;
  -ms-transform: $transform-none;
  -o-transform: $transform-none;
  transform: $transform-none;

  // rotate         ex: transform: rotate(30deg);
}
@mixin transition($property: all,$delay:1s,$timing: linear) {
  -webkit-transition: $property $delay $timing;
  -moz-transition: $property $delay $timing;
  -ms-transition: $property $delay $timing;
  -o-transition: $property $delay $timing;
  transition: $property $delay $timing;
}
@mixin rightGradient($location: 100%){
  background: -webkit-linear-gradient(right, rgba(110,207,246,1) 0%, rgba(110,207,246,0) $location); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(right, rgba(110,207,246,1) 0%, rgba(110,207,246,0) $location); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(right, rgba(110,207,246,1) 0%, rgba(110,207,246,0) $location); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to right, rgba(110,207,246,1) 0%, rgba(110,207,246,0) $location); /* Standard syntax (must be last)*/
}
@mixin column($colNum: 2, $colGap: 2%){
  -webkit-column-count: $colNum; /* Chrome, Safari, Opera */
  -moz-column-count: $colNum; /* Firefox */
  column-count: $colNum;
  -webkit-column-gap: $colGap; /* Chrome, Safari, Opera */
  -moz-column-gap: $colGap; /* Firefox */
  column-gap: $colGap;
}
@mixin noTap{
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-tap-highlight-color: transparent;
}